receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4321
      http:
        endpoint: 0.0.0.0:4320

processors:
  batch:

exporters:
  debug:
    verbosity: detailed
  prometheus:
    endpoint: "0.0.0.0:8889"

service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, prometheus]
